*desktop*/
header {
    grid-area: header;
    text-align: center;
}
nav {
    grid-area: menu;
}
#introduction{
    grid-area: introduction;
}
#study {
    grid-area: study;
}
#project{
    grid-area: project;
}
@media screen and (min-width:960px){
    .grid-container{
        display: grid;
        text-align: center;
        grid-template-columns: 33% auto 33% ;
        grid-template-rows: 10% 10% auto;
        grid-template-areas:
            "header header header"
            "menu menu menu"
            "introduction study project"
            ;
    }    
}

@media screen and (min-width:640px) and (max-width:960px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% auto 33%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header header"
            "menu menu"
            "introduction introduction"
            "study project";
    }
    
    #header {
        grid-area: header;
    }
    
    #nav {
        grid-area: menu;
    }
    
    #section {
        grid-area: introduction;
    }
    
    #main {
        grid-area: study;
    }
    
    #article {
        grid-area: project;
    }
}

@media screen and (min-width:640px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% 33% auto;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "header"
            "menu"
            "introduction"
            "study"
            "project";
    }
    
    #header {
        grid-area: header;
    }
    
    #nav {
        grid-area: menu;
    }
    
    #section {
        grid-area: introduction;
    }
    
    #main {
        grid-area: study;
    }
    
    #article {
        grid-area: project;
    }
}